@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<h1> Hit </h1>

<button class=" btn btn-primary" @onclick = "GetData"> hit web api</button>

<p> @RandomResponse.quote </p>
<p> @RandomResponse.anime </p>
<p> @RandomResponse.character </p>




